# macOS
.DS_Store

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
.venv*/
local_libs/

# Environment Variables
.env

# Temporary Excel Files
~$*
\ncredentials.json
\nclient_secret.json\ntoken.json
\n.streamlit/
